{{'car-collection.css' | asset_url | stylesheet_tag}}
{% assign products = section.settings.collection.products %}

<div class="cars">
    
    {% for product in products %}
        {% comment %} metafields {% endcomment %}
        {% assign fuel = product.metafields.custom.fuel.value %}
        {% assign rating = product.metafields.custom.rating.value.label %}
        {% assign transmission = product.metafields.custom.transmission.value.lable %}
        {% assign categories = product.metafields.custom.categories.value %}


        <div class="cars-card">
            <img class="card-img" src="{{product.featured_image | image_url: height: 310 }}" alt="{{product.title}}">

            <div class="card-info">
                
                <div class="info-box">

                    <div class="info-text-box">

                        <h3 class="info-title">{{product.title}}</h3>

                        <div class="info-text-box-box">
                            <p class="info-price">{{product.price |  money}}</p>
    
                            <button class="info-favorite-btn" type="button">
                            {% render 'icon-heart' %}
                            </button>
                        </div>

                    </div>

                    <div class="info-rating-box">
                        {% render 'icon-star' %}
                        <p class="info-rating">{{rating}}</p>
                    </div>

                </div>

                <p class="info-desc">{{product.description}}</p>

                <ul class="info-categories-box">
                    {% for category in categories %}

                        <li class="info-category-box">

                            {% if category.icon != blank %}
                                <img src="{{category.icon | image_url: width: 20  }}">
                            {% endif %}

                            <p class="info-category">
                                 {% if category.count != blank %}
                                    {{category.count}}
                                {% endif %}
        
                                {{category.lable}}
                            </p>

                        </li>
                        

                    {% endfor %}
                </ul>

                <a href="{{product.url}}" class="info-more-btn">Show more</a>
                <p>{{"products.product.choose_product_options"| t: product_name: product.title}}</p>

            </div>
        
        </div>
        
        <script>console.log({{  product.address | json }})</script>
    {% endfor %}
</div>

{% schema %}
{
"name": "Cars collection",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "title",
"label": "t:settings_schema.global.settings.header__border.content"
},
{
"type": "text",
"id": "description",
"label": "Description"
},
{
"type": "number",
"id": "price",
"label": "Price"
},
{
"type": "collection",
"id": "collection",
"label": "Collection"
}
],
"presets": [
{
"name": "Cars collection"
}
]
}
{% endschema %}